*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
}
#container{
    width: 100%;
    height: 100vh;
    background-color: #16352aef;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width: 15%;
}